.Collections {
  height: 100vh;
  overflow: auto;
  background-color: #0d1117;
  color: #fff;
}

.Collections_Link {
  padding: 20px;
}

.Collections_Icon {
  font-size: clamp(2rem, 2vw, 3rem);
  color: #fff;
}

.Collections_Icon:hover {
  color: #f2cc8f;
}

.Collections_Lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .Collections_Lists {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Collections_Btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.ErrorPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.5rem, 3vw, 3rem);
  height: 80vh;
}

.Collections_List {
  margin-bottom: 20px;
}
