.Collections {
  height: 100vh;
  overflow: auto;
  background-color: #0d1117;
}

.Collections_Lists {
  display: flex;
  flex-direction: column;
}

.Collections_List {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid;
  border-bottom-color: #30363e;
}
