@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
.Issue {
  background-color: #fff;
  border: 1px solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 8px;
  margin-bottom: 2px;

  @media screen and (max-width: 768px) {
    padding: 4px;
  }
}

.Issue_FirstLine {
  display: flex;
  align-items: center;
}

.Issue_Anchor {
  font-family: "IBM Plex Sans Arabic", "Noto Sans KR";
  font-size: 18px;
  color: #24292f;
  &:hover {
    color: #4f95e5;
  }
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.Issue_State {
  padding: 5px;
  font-size: 20px;
}

.Issue_UserInfo {
  display: flex;
  flex-direction: row;
}

.Issue_UserImg {
  width: 5%;
  border-radius: 70%;
  object-fit: cover;
}

.Issue_UserName {
  margin-left: 4px;
  font-size: 15px;
  margin-bottom: 4px;
}

.Issue_ReposName {
  font-weight: 500;
  color: #57606a;
}

.paginationBttns {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.paginationBttns a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #fff;
  background-color: #6495ed;
}

.paginationActive a {
  color: #fff;
  background-color: #337ab7;
}

.paginationDisabled a {
  background-color: grey;
  color: #fff;
}
