.Issue {
  color: #b1b8c0;
}

.paginationBttns {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.paginationBttns a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  background-color: #337ab7;
}

.paginationDisabled a {
  background-color: grey;
}
