.Results {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.ui.card.Results_Card {
  margin-top: 50px;
}

.Results_BtnAdd {
  padding: 20px;
  font-size: 20px;
}

.Results_Introduce {
  display: flex;
  justify-content: center;
}
