.Search {
  display: flex;
  justify-content: center;
}

.Search_Forms {
  display: flex;
  width: 40%;
  justify-content: center;
}

.Search_Container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.Search_NameInput {
  flex-grow: 1;
  height: 40px;
  padding: clamp(1rem, 1.5vw, 1.5rem);
  color: #c5ccd4;
  border: 1px solid #30363e;
  border-radius: 6px;
  font-weight: 500;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  margin: 0 0.1em 0 7px;
  background-color: #0d1117;
  text-align: center;
}

.Search_RepoInput {
  flex-grow: 1;
  height: 40px;
  padding: clamp(1rem, 1.5vw, 1.5rem);
  color: #c5ccd4;
  border: 1px solid #30363e;
  border-radius: 6px;
  font-weight: 500;
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  margin: 0 0.1em 0 7px;
  background-color: #0d1117;
  text-align: center;
}

.Search_Submit {
  background-color: #0d1117;
  text-align: center;
  border: 1px solid grey;
  border-radius: 6px;
  color: #c5ccd4;
  cursor: pointer;
  font-size: 12px;
  padding: clamp(0.9rem, 1vw, 1rem);

  &:hover {
    color: #fff;
  }
}

text {
  color: #fff;
}
